# Dependency directories
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache